# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3

# Generated data
data/processed/*
data/warehouse/*

# Keep folder structure
!data/processed/.gitkeep
!data/warehouse/.gitkeep